{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_row -%}

    {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{{ showErrorIcon ? ' has-feedback' : '' }}">
        {{- form_label(form) -}}
        {% if help|default %}
            {# set the aria-describedby attribute #}
            {%- set attr = attr|merge({'aria-describedby': 'help-block-'~id }) -%}
        {% endif %}
        {{- form_widget(form, {
            'attr': attr
        }) -}}
        {% if help|default %}
            <span class="col-xs-10 col-xs-offset-2 help-block" id="help-block-{{ id }}">{{ help }}</span>
        {% endif %}
        {{- form_errors(form) -}}
    </div>

{%- endblock form_row %}

{% block form_widget_simple -%}
    <div class="col-sm-8">
        {% set showErrorIcon = false %}
        {% if type is not defined or type not in ['file', 'hidden'] %}
            {# show error icon for these types #}
            {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
        {% endif %}
        {{- parent() -}}
        {% if showErrorIcon %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        {% endif %}
    </div>
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li class="form_errors col-xs-12"><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block choice_widget_collapsed -%}
    <div class="col-sm-8">
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
    </div>
{%- endblock %}

{#{% block checkbox_widget -%}#}
    {#{%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}#}
    {#{% if 'checkbox-inline' in parent_label_class %}#}
        {#{{- form_label(form, null, { widget: parent() }) -}}#}
    {#{% else -%}#}
        {#<div class="checkbox">#}
            {#{{- form_label(form, null, { widget: parent() }) -}}#}
        {#</div>#}
    {#{%- endif %}#}
{#{%- endblock checkbox_widget %}#}