{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}

	<div class="daily-date-picker">
		<form class="form-inline" name="date" method="get">
			<div class="form-group">
				<label class="sr-only" for="date_picker_form_date">Date</label>
					<input id="date_picker_form_date" class="date_picker_form_date js-datepicker form-control" name="date" required="required" type="text"
					{% if date is defined %} value="{{ date|date("d.m.Y.") }}"{% endif %}>
			</div>
			<button type="submit" class="btn btn-primary btn-sm">Go</button>
		</form>
	</div>

	<div class="col-xs-12 col-lg-8">
		<div class="table-responsive">
			<table class="table table-bordered js-table" id="table_main">
				<thead>
					<tr>
						<th>Machine</th>
						<th>New</th>
						<th>Old</th>
						<th>Difference</th>
						<th>Credits</th>
						<th>Din</th>
					</tr>
				</thead>
				{% for machine in machines %}
					{% if machine.visible == true or machine.inValue is not empty or machine.outValue is not empty %}
					<tr class="js-machValue" data-ratio="{{ machine.ratio }}" data-type="{{ machine.type }}">
						<td class="machine" rowspan="2">{{ machine.name }}</td>
						<td class="js-form-wrapper js-in" data-machine="{{ machine.id }}" {% if machine.inValue.value is defined %}data-id="{{ machine.inValue.id }}" data-inValue="{{ machine.inValue.value }}" data-date="{{ machine.inValue.date|date("Y-m-d") }}"{% endif %}></td>
						<td class="js-machInOld js-format" data-invalueold="{{ machine.inFindValueOld }}">{{ machine.inFindValueOld }}</td>
						<td class="js-machInDiff js-format" data-type="{{ machine.type }}"></td>
						<td rowspan="2" class="js-credits js-format"></td>
						<td rowspan="2" class="js-din js-format" data-type="{{ machine.type }}"></td>
					</tr>
					<tr class="js-machValueOut">
						<td class="js-form-wrapper js-out" data-machine="{{ machine.id }}" {% if machine.outValue.value is defined %}data-id="{{ machine.outValue.id }}" data-outValue="{{ machine.outValue.value }}" data-date="{{ machine.outValue.date|date("Y-m-d") }}"{% endif %}></td>
						<td class="js-machOutOld js-format" data-outvalueold="{{ machine.outFindValueOld }}">{{ machine.outFindValueOld }}</td>
						<td class="js-machOutDiff js-format"></td>
					</tr>
				{% endif %}
				{% endfor %}
				{% for machineType in machineTypes %}
					{% if machineType.haveJackpot == true  %}
						<tr data-type-name="{{ machineType.name }}" data-type="{{ machineType.id }}" {% if machineType.jackpot.value is defined %}data-id="{{ machineType.jackpot.id }}" data-jp="{{ machineType.jackpot.value }}" data-date="{{ machineType.jackpot.date|date("Y-m-d") }}"{% endif %}>
							<td class="jackpot" colspan="5">{{ machineType.name }} Jackpot</td>
							<td class="js-form-wrapper js-jp"></td>
						</tr>
					{% endif %}
				{% endfor %}
				<tr>
					<td class="total" colspan="5">Total</td>
					<td id="js-total" class="js-format"></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div  class="table-responsive">
			<table class="table table-bordered js-table" id="statistics">
				<tr>
					<th>Type</th>
					<th>In</th>
					<th>Profit</th>
					<th>%</th>
				</tr>
				{% for machineType in activeTypes %}
				<tr class="js-statistics" data-type="{{ machineType.name }}">
					<td class="machine-type-name">{{ machineType.name }}</td>
					<td class="js-inValue js-format"></td>
					<td class="js-profit js-format"></td>
					<td class="js-percentage"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="table-responsive">
			<table class="table table-bordered js-table" id="cash_register" {% if app.request.get('date') is defined %}data-date="{{ app.request.get('date')|date("Y-m-d") }}"{% endif %}>
				<caption>Cash Register</caption>
				<tr class="js-cash-register-log">
					<td colspan="2">{{ render(controller('AppBundle:CashRegister:new', { 'date': date_db })) }}</td>
					<td></td>
				</tr>
				<tr>
					<td class="total-name">Total</td>
					<td class="total-value js-format" id="js-total-cash"></td>
					<td></td>
				</tr>
			</table>
		</div>
		{% if date_db is not null %}
			<a href="{{ path('pdf_create', { 'date': date|date("d.m.Y.") }) }}" class="btn btn-sm btn-primary pdf" target="blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> pdf</a>
			<a href="//pdfcrowd.com/url_to_pdf/">Save to PDF</a>
		{% endif %}
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

	<script>
		jQuery(document).ready(function() {
			$('.js-datepicker').datepicker({
				format: 'dd.mm.yyyy.'
			});
		});
	</script>

	<script src="{{ asset('js/jquery.priceformat.min.js') }}"></script>

	<script src="{{ asset('js/App.js') }}"></script>

	<script type="text/template" id="js-inValue-template">
		<td class="js-form-wrapper js-in">
			<form name="in_value_form" method="post" action="" data-url="/invalue/<%= id %>/edit" class="js-form form-horizontal">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="in_value_form_machine">Machine</label>
						<div class="col-sm-8">
							<input id="in_value_form_machine" name="machine" required="required" class="form-control" value="<%= machine %>" type="text">
						</div>
					</div>
				</div>
				<input id="in_value_form_value" name="value" class="js-format submitreplacement form-control" value="<%= value %>" type="text">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="in_value_form_date">Date</label>
						<div class="col-sm-8">
							<input id="in_value_form_date" name="date" required="required" class="form-control" value="{{ app.request.get('date')|date("Y-m-d") }}" type="date">
						</div>
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-inValue-new-template">
		<td class="js-form-wrapper js-in">
			<form name="in_value_form" method="post" action="" data-url="/invalue/new" class="js-form form-horizontal js-new">
				<input id="in_value_form_machine" name="machine" value="<%= machine %>" type="hidden">
				<input id="in_value_form_value" name="value" class=" js-format submitreplacement form-control" type="text">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="in_value_form_date">Date</label>
						<div class="col-sm-8">
							<input id="in_value_form_date" name="date" required="required" class="form-control" value="{{ date|date("Y-m-d") }}" type="date">
						</div>
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-outValue-template">
		<td class="js-form-wrapper js-out">
			<form name="out_value_form" method="post" action="" data-url="/outvalue/<%= id %>/edit" class="js-form form-horizontal">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="out_value_form_machine">Machine</label>
						<div class="col-sm-8">
							<input id="out_value_form_machine" name="machine" required="required" class="form-control" value="<%= machine %>" type="text">
						</div>
					</div>
				</div>
				<input id="out_value_form_value" name="value" class="js-format submitreplacement form-control" value="<%= value %>" type="text">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="out_value_form_date">Date</label>
						<div class="col-sm-8">
							<input id="out_value_form_date" name="date" required="required" class="form-control" value="{{ app.request.get('date')|date("Y-m-d") }}" type="date">
						</div>
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-outValue-new-template">
		<td class="js-form-wrapper js-out">
			<form name="out_value_form" method="post" action="" data-url="/outvalue/new" class="js-form form-horizontal js-new">
				<input id="out_value_form_machine" name="machine" value="<%= machine %>" type="hidden">
				<input id="out_value_form_value" name="value" class="js-format submitreplacement form-control" type="text">
				<div style="display:none">
					<div class="form-group">
						<label class="col-sm-2 control-label required" for="out_value_form_date">Date</label>
						<div class="col-sm-8">
							<input id="out_value_form_date" name="date" required="required" class="form-control" value="{{ date|date("Y-m-d") }}" type="date">
						</div>
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-jp-template">
		<td class="js-form-wrapper js-jp">
			<form name="jackpot_form" method="post" action="" data-url="/jp/<%= id %>/edit" class="js-form form-horizontal">
				<input id="jackpot_form_machineType" name="machineType" value="<%= machineType %>" type="hidden">
				<input id="jackpot_form_value" name="value" class="js-format submitreplacement js-jp-din jp form-control" value="<%= value %>" type="text">
				<div style="display:none">
					<label class="col-sm-2 control-label required" for="jackpot_form_date">Date</label>
					<div class="col-sm-8">
						<input id="jackpot_form_date" name="date" required="required" class="form-control" value="{{ app.request.get('date')|date("Y-m-d") }}">
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-jp-new-template">
		<td class="js-form-wrapper js-jp">
			<form name="jackpot_form" method="post" action="" data-url="/jp/new" class="js-form form-horizontal">
				<input id="jackpot_form_machineType" name="machineType" value="<%= machineType %>" type="hidden">
				<input id="jackpot_form_value" name="value" class="js-format submitreplacement js-jp-din jp form-control" type="text">
				<div style="display:none">
					<label class="col-sm-2 control-label required" for="jackpot_form_date">Date</label>
					<div class="col-sm-8">
						<input id="jackpot_form_date" name="date" required="required" class="form-control" value="{{ date|date("Y-m-d") }}">
					</div>
				</div>
			</form>
		</td>
	</script>

	<script type="text/template" id="js-cash-register-row-template">
	   <tr class="js-cash-register-log">
		   <td colspan="2">
			   <form name="cash_register_form" method="post" action="/cr/<%= id %>/edit" class="js-form form-horizontal" data-url="/cr/<%= id %>/edit">
				   <input id="cash_register_form_name" name="name" class="submitreplacement name form-control" type="text"  value="<%= name %>">
				   <input id="cash_register_form_value" name="value" class="js-format submitreplacement value form-control js-cr-log" type="text" value="<%= value %>">
				   <div style="display:none">
					   <div class="form-group ">
						   <label class="col-sm-2 control-label required" for="cash_register_form_date">Date</label>
						   <div class="col-sm-8">
							   <input type="date" id="cash_register_form_date" name="date" required="required" class="form-control" value="{{ app.request.get('date')|date("Y-m-d") }}">
						   </div>
					   </div>
				   </div>

			   </form>
		   </td>
		   <td class="del-cr">
			   <a href="#" class="js-delete-cash-register" data-url="/cr_delete/<%= id %>">
					<span class="fa fa-trash"></span>
				</a>
		   </td>
	   </tr>
	</script>

{% endblock %}
