{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ machine.name }}</h1>
    <ul>
        <li>Type : {{ machine.type }}</li>
        <li>Ratio : {{ machine.ratio }}</li>
        <li>Position : {{ machine.position }}</li>
        <li>Created : {{ machine.createdAt|date('d.m.Y') }}</li>
        <li>Updated : {{ machine.updatedAt|date('d.m.Y H:i:s') }}</li>
    </ul>

    <a href="{{ path('home') }}" class="btn btn-xs btn-default btn-xs" role="button">&laquo; Back to the list</a>

    {#{% if app.user == presentation.author or is_granted('ROLE_ADMIN') %}#}
        <a href="{{ path('machine_edit', { 'slug': machine.slug }) }} " class="btn btn-xs btn-success" role="button"><span class="fa fa-pencil"></span> Edit</a>
    {#{% endif %}#}

{% endblock %}